.job-list .items {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;

  > .job-list-table {
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    tr {
      cursor: pointer;
      background-color: #eee;
      user-select: none;
      &:nth-child(even) {
        background-color: #f7f7f7 ;
      }
      &:hover {
        background-color: #ddd;
      }
      &.selected {
        background-color: #caf7a7;
      }
      &.ready .state > .pill {
        background-color: #be7;
      }
      &.running .state > .pill {
        background-color: #7c7;
      }
      &.failed .state > .pill {
        background-color: #faa;
      }
      &.cancelling .state > .pill {
        background-color: #fea;
      }
      &.cancelled .state > .pill {
        background-color: #fda;
      }
    }
    td, th {
      text-align: center;
      padding: 3px 6px;
      border-width: 0;
      vertical-align: middle;
      line-height: 22px;
      white-space: nowrap;
      &.state {
        padding: 1px 3px;
        > .pill {
          border-radius: 4px;
          padding: 1px 6px;
        }
      }
    }
    .job-progress > .progress {
      margin: 2px;
      background-color: #ddd;
    }
  }
}
