.job-list > .items {
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;

  > .job-list-table {
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    tr {
      cursor: pointer;
      background-color: #eee;
      user-select: none;
      &:nth-child(even) {
        background-color: #f7f7f7 ;
      }
      &:hover {
        background-color: #ddd;
      }
      &.selected {
        background-color: #aaf777 ;
      }
    }
    td, th {
      text-align: left;
      padding: 3px 6px;
      border-width: 0;
      vertical-align: middle;
      line-height: 22px;
      white-space: nowrap;
    }
    .job-progress > .progress {
      margin: 2px;
      background-color: #ddd;
    }
  }
}
