.page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  .page-header {
    text-align: center;
    padding: 4px;
    font-weight: bold;
    background-color: lightblue;
    margin: 8px 8px 0 8px;
    font-size: 120%;
  }

  .reference-box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
  }

  > .status-page {
    background-color: white;
    flex: 1;
    display: flex;

    .border-panel {
      border: 2px solid lightgrey;
      margin: 8px 0 0 8px;
      padding: 4px;
      &:last-child {
        margin: 8px 0 8px 8px;
      }

      > header {
        background-color: lightgreen;
        text-align: center;
        padding: 4px;
        font-weight: bold;
      }
    }

    > .job-panel {
      display: flex;
      flex-direction: column;
      flex: 1;

      > .job-list {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }

    > .task-panel {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 8px;

      > .job-details {
        display: flex;
        flex-direction: column;
        flex: 2;
        flex-basis: 0;
      }

      > .task-list {
        display: flex;
        flex-direction: column;
        flex: 2;
        flex-basis: 0;
      }

      > .task-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-basis: 0;
      }
    }
  }

  .empty-list {
    padding: 4px;
    background-color: #ded;
    text-align: center;
  }

  .error {
    padding: 4px;
    background-color: #faa;
    text-align: center;
  }

  .loading {
    padding: 4px;
    background-color: #def;
    text-align: center;
  }
}
