.page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  header {
    background-color: lightgreen;
    text-align: center;
    margin: 4px;
    padding: 4px;
    font-weight: bold;

    &.page-header {
      background-color: lightblue;
      margin: 8px 8px 0 8px;
      font-size: 120%;
    }
  }

  > .job-view {
    background-color: white;
    flex: 1;
    display: flex;

    > .job-list {
      margin: 8px 0 8px 8px;
      border: 2px solid lightgrey;
      flex: 1;
    }

    > .task-panel {
      flex: 1;
      display: flex;
      flex-direction: column;

      > .job-details {
        margin: 8px 8px 0 8px;
        border: 2px solid lightgrey;
        flex: 1;
      }

      > .task-list {
        margin: 8px 8px 0 8px;
        border: 2px solid lightgrey;
        flex: 2;
      }

      > .task-details {
        margin: 8px;
        border: 2px solid lightgrey;
        flex: 2;
      }
    }
  }

  .empty-list {
    padding: 4px;
    background-color: #ded;
    text-align: center;
  }

  .error {
    padding: 4px;
    background-color: #faa;
    text-align: center;
  }

  .loading {
    padding: 4px;
    background-color: #def;
    text-align: center;
  }
}
